*{
    padding: 0;
    margin: 0;
}


.orient {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}


.orient p {
    /* padding: 40px; */
    transition: font-size 3s;
    /* width: 200px; */
    font-size: small;
}

.orient p:hover {
    cursor: pointer;
    font-size: large;
}

button {
    width: 158px;
    height: 55px;
    border: 1px solid white;
    border-radius: 5px;
    /* background-color: red; */
    /* color: white; */
    font-size: small;
    text-align: center;
}

button {
    transform: scale(1.5);
    transition: all 2s ease-in-out;


}

button:hover {
    font-size: x-large;
    cursor: pointer;
}
